<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Students Attendance Management System</title>
  <script src="https://kit.fontawesome.com/f6549854b5.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/images/logo.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/addteacher.css">
</head>

<body>
  <!-- HEADER -->
  <header class="header">
    <div class="logo">
      <img src="/images/logo.jpg">
      <h2><span>Students Attendance Management System - </span>SAMS</h2>
    </div>
    <nav class="navbar">
      <a href="/landing/home">Logout<i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>
    </nav>
  </header>
  <!-- HEADER -->

  <div class="addteacher-container">
    <a href="dashboard" class="prevpage"><< Dashboard</a>&nbsp;&nbsp;<a href="teachers" class="prevpage"><< Teachers</a>
    <div class="addteacher-form">
      <div class="addteacher-title">
        <h2>Add Teacher</h2>
      </div>

      <div class="add-teacher-form">
        <form action="/adminpage/teacherinsert" method="POST" name="teacheraddform" onsubmit="return validateForm()">
          <% if (message) { %>
            <div class="alert show">
              <span class="fa-solid fa-circle-exclamation"></span>
              <span class="msg">Warning: <%= message %></span>
              <span class="close-btn">
                <span class="fa-solid fa-times"></span>
              </span>
            </div>
          <% } %>
          <div class="form-group" id="idofteacher">
            <label for="teacherid">Teacher ID<span>*</span></label>
            <input type="text" name="teacherid" required id="teacherid"/>
            <small class="formerror"></small>
          </div>
          <div class="form-group" id="nameofteacher">
            <label for="teachername">Teacher Name<span>*</span></label>
            <input type="text" name="teachername" required id="teachername"/>
            <small class="formerror"></small>
          </div>
          <div class="form-group">
            <label for="teachergender">Gender<span>*</span></label>
            <div class="radio-btns">
              <input type="radio" name="teachergender" value="M" required>
              <label for="teachergender">Male</label>
            </div>
            <div class="radio-btns">
              <input type="radio" name="teachergender" value="F" required>
              <label for="teachergender">Female</label>
            </div>
          </div>

          <div class="form-group select">
            <label for="tdob">Date of birth<span>*</span></label>
            <input type="date" name="tdob" required>
          </div>

          <div class="form-group select">
            <label for="teacherdept">Department<span>*</span></label>
            <select name="teacherdept" id="deptSelect" required>
              <option value="">Select Department</option>
              <option value="1" >Master of Computer Application</option>
              <option value="2">Computer Science Engineering</option>
            </select>
          </div>

          <div class="form-group select">
            <label for="subject">Subject<span>*</span></label>
            <select id="subjectSelect" name="subject" required>
              <!-- Options for Course 1 -->
              <option value="">Select Subject</option>
              <optgroup id="1Options" label="MCA Subjects">
                <option value="1">Software Engineering</option>
                <option value="2">Computer Networks</option>
                <option value="3">Internet of Things</option>
                <option value="4">Project Management</option>
              </optgroup>
              
              <!-- Options for Course 2 -->
              <optgroup id="2Options" label="CSE Subjects">
                <option value="5">Mathematics</option>
                <option value="6">Microprocessor</option>
                <option value="7">Distributed Database</option>
              </optgroup>
            </select>
          </div>
          
          <div class="form-group select">
            <label for="teacherdesg">Designation<span>*</span></label>
            <select name="teacherdesg">
              <option value="Professor">Professor</option>
              <option value="Assistant Professor">Assistant Professor	</option>
              <option value="Visiting Faculty">Visiting Faculty</option>
              <option value="Assistant Professor & Coordinator">Assistant Professor & Coordinator</option>
            </select>
          </div>
          <div class="form-group" id="teacherhighqual">
            <label for="teacherhq">Highest Qualification<span>*</span></label>
            <input type="text" name="teacherhq" required/>
            <small class="formerror"></small>
          </div>
          <div class="form-group" id="teacherphone">
            <label for="tphone">Mobile No.<span>*</span></label>
            <input type="phone" name="tphone" required/>
            <small class="formerror"></small>
          </div>
          

          <div class="add-btn-div">
            <button class="teacher-add-btn btn" type="submit">Add Teacher</button>
          </div>

        </form>
      </div>

    </div>
  </div>


  <script src="/javascripts/addteacher.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#subjectSelect optgroup').hide();
      $('#deptSelect').change(function() {
        const selectedCourse = $(this).val();

        // Hide all subject option groups
        $('#subjectSelect optgroup').hide();

        // Show the subject option group based on the selected course
        $(`#${selectedCourse}Options`).show();
      });
    });
  </script>


</body>

</html>